.grid-toolbox {
  display: grid;
  grid-template-columns: 40% 40%;
  grid-gap: 10%;
  background-color: hsl(0, 000%, 035%);
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
